@import url('https://fonts.googleapis.com/css2?family=Clash+Display:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-dg_lavender: #A89BBE;
  --color-dg_beige: #DBC3A8;
  --color-dg_sage: #A3B18A;
  --color-dg_cream: #F2E8CF;
  --color-dg_charcoal: #333333;
}

@layer base {
  body {
    margin: 0;
    background-color: #f7f3fa;
    color: #29233a;
    font-family: 'Clash Display', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
